extends common/layout.pug

block content
  .container
    h1.page-title About Us
    img(src='/images/about.jpg', alt='About Us Image')
    p Welcome to Feel Dance Academy! We provide professional dance training in various styles.
    p Our experienced instructors are dedicated to helping you reach your full potential.


