extends common/layout

block layout-content
  .add-dance-record-container.d-flex.justify-content-center.align-items-center
    .inner-container.p-4.bg-white.shadow-sm.rounded
      h2.mb-3.text-center Add Dance Record
      form(action="/add", method="post")
        .form-group.mb-3
          label(for="name") Dance Style:
          input.form-control(type="text", id="name", name="name", placeholder="Enter the dance style", required)
        .form-group.mb-3
          label(for="description") Description:
          textarea.form-control(id="description", name="description", rows="3", placeholder="Describe the dance", required)
        .form-group.mb-3
          label(for="duration") Duration (in hours):
          input.form-control(type="number", id="duration", name="duration", placeholder="Enter duration", required)
        button.btn.btn-custom(type="submit") Add Dance Record
