footer.footer.bg-dark.text-light.py-4
  .container
      .row.justify-content-center
        .col-md-6.text-center
          p.mb-0 &copy; Copyright Feel Dance Academy, 2024. All rights reserved.
        